table{
    width:100%;

}
table tr td{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
table tr td img{
    height: 50px; 
    width:10%;
    padding:5px 5px 5px 5px;
    align-self: center;
}
.main-content{
    border:1px solid black; 
    width:clamp(500px,35%,350px);
    max-width: 500px;
    display:flex;
    justify-content:center;
    flex-direction:column;
    border: 1px solid black;
    padding: 0px 20px 0px 20px;
}
.main-content h2{
    background-color: #ffdf87; 
    width:fit-content; 
    align-self:center;
}
.main-contetn-inner{
    max-width:clamp(600px,95%,400px); 
    display:flex; 
    flex-direction:column; 
    justify-content:left; 
    text-align:start;  
    padding-left:20px; 
    padding-right:20px; 
    line-height: 1.5rem;
}


.main-contetn-inner:nth-child(2){
    margin-top: 5px;
}
.main-contetn-inner:nth-child(3){
    margin-top: -5px;
}
.main-contetn-inner:nth-child(4){
    margin-top: -5px;
}
.main-contetn-inner:nth-child(5){
    margin-top: -5px;
}
.main-contetn-inner:nth-child(6){
    margin-top: -5px;
}
