body{
    background-color: black;
    color: white;
    overflow: hidden;

}
.container{
    position: fixed;
    width: 110px;
    height: 300px;
    border: 3px solid white;
    border-radius: 10px;
    top: 5px;
    left: 5px;
    padding-left:5px ;
    padding-right: 6px;
padding: 5px;
    z-index: 1;
}


/* CLOCK ITEM IS HERE */

.clock{

    position: fixed;
    width: 100px;
    z-index: 1;
    backdrop-filter: blur(2px);
    border-radius: 10px;
    border: 1px solid white;
padding: 4px;
font-weight: 700;
}

.clock:hover{
    cursor: pointer;
}

#hrs{
    font-size: 100px;
    position: relative;
    
}
#mins{
    font-size: 100px;
    position: relative;
    
}

/* DATE ITEM IS HERE */

.date{
    position: fixed;
    top: 270px;
    font-size: 20px;
    font-weight: 600;
    border: 1px solid white;
    border-radius: 25px;
    padding: 8px;
    backdrop-filter: blur(2px);
}
.date:hover{
    cursor: pointer;
}
/* CONTAINER2 IS HERE */
.container2{
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50% ,-50%);
    width: 400px;
    
    height: auto;
}

/* DAY IS HERE */

.day{
    position: relative;
    padding-left: 25px;
    padding-bottom:10px ;
    font-size: 80px;
    text-shadow: 1px 1px 1px black;


}



/* search bar is here */
.search_bar{
    display: flex;
    width: 800px;
    

}
#search{
    position: relative;
    margin-left: -60px;
    border-radius: 25px;
    width: 500px;
    height: 40px;
    padding-left: 15px;
    background-color: transparent;
    border: 3px solid white;
    font-weight: 900;
    color: white;
    box-shadow: none;
}

#search:enabled{border: 3px solid white;
    background-color: transparent;

}

.searchbtn{
    
    width:45px ;
    height: 45px;
    border-radius: 50px;
    transform: scale();
    background-color: transparent;
    border: 3px solid white;
    font-size: larger;
}
.searchbtn:hover{
    cursor: pointer;
    border: 3px solid rgb(0, 0, 0);
    filter: brightness(110%);
}
/* PIN ITEM IS HERE */

.pin_item{
    position: relative;
    margin-top: 20px;
    margin-left:-60px ;
    width: 500px;
    height: 60px;
    
    border-radius: 25px;
    overflow-y: hidden;
    overflow-x: scroll;
    display: inline-flex;
    padding: 5px;
    backdrop-filter: blur(1.5px);
}
.pin_item::-webkit-scrollbar{
    display: none;
}
.pin{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: white;
    margin-right: 25px;
    
}


/* QUOTES IS HERE */
.quotes{
    position: absolute;
    width: 400px;
    height: auto;
    overflow:hidden;
    text-overflow: clip;
    top: 110%;
    left: 50%;
    transform: translate(-50%,30%);
    
    border-radius: 25px;
    padding: 10px;
    backdrop-filter: blur(2px);

}
#Quote{
    font-size: 22px;

}

/* SIDE BAR IS HERE */

.sidebar{position: fixed;
    right: 5px;
    border-radius: 30px;
    width: 50px;
    height: auto;
    border: 3px solid rgb(255, 255, 255);
    backdrop-filter: blur(2px);
    
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;

    top: 30%;
    
}
#item_bar{
    border-radius: 50%;
    margin-bottom: 5px;
    position: relative;
    width: 50px;
    height: 50px;
        
    background-color: white;
}

/* IMAGE IS HERE */
body img{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: -2;
    background: fixed;
    background-attachment: fixed;
    background-clip: unset;
    background-size: cover;
    height: 100%;
    
    background-repeat: no-repeat;
    user-select: none;
    -moz-user-select: none;
   -webkit-user-drag: none;
   -webkit-user-select: none;
   -ms-user-select: none;
}

#image{
    
    z-index: 1;
    position: fixed;
    top: 95%;
    left: 5px;
    border-radius:30px ;
    background-color: transparent;
    color: white;
    font-weight: 700;
    font-size: 16px;
    border: 2px solid white;

    backdrop-filter: blur(50px);
}

.clock:nth-child(1)::first-letter{
   
    color: red;
}
.date::first-letter{
    color: red;
}

